{% extends "frontpage.html" %}

{% block title %}Sensenet - Login{% endblock %}

{% block form-content %}
                
    <form action="/" method="post">{% csrf_token %}
        <div class="control-group">
            <h3>Login</h3>
            <label>Username</label>
            <input type="text" name="username" value="{{ username }}" /><br />
            
            <label>Password</label>
            <input type="password" name="password" value="" /><br />
            {{ state }}

            <input class="btn" type="submit" value="Login" />
            <a class="btn" href="/register/">Register<a/>
        </div>
    </form>

{% endblock %}